@model IEnumerable<HospitalManagement.Models.Common>
@{
    ViewData["Title"] = "Doctor Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";

 }
<html>
    <head>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="card p-4">
            <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                    <h6 class="mb-2">Sales by Country</h6>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center ">
                    @*<thead>
                        <tr>
                            <th class="w-30">
                                <div class="d-flex px-2 py-1 align-items-center">
                                    <div>
                                        <p class="text-xs font-weight-bold mb-0"></p>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-xs font-weight-bold mb-0">DoctorName</p>                                     
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="text-center">
                                    <p class="text-xs font-weight-bold mb-0">HospitalName</p>                                
                                </div>
                            </th>
                            <th>
                                <div class="text-center">
                                    <p class="text-xs font-weight-bold mb-0">City</p>                                   
                                </div>
                            </th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-30">
                                <div class="d-flex px-2 py-1 align-items-center">
                                    <div>
                                        
                                    </div>
                                    <div class="ms-4">
                                        <h6 class="text-sm mb-0">United States</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                   
                                    <h6 class="text-sm mb-0">2500</h6>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">                                 
                                    <h6 class="text-sm mb-0">$230,900</h6>
                                </div>
                            </td>
                            <td class="align-middle text-sm">
                                <div class="col text-center">                         
                                    <h6 class="text-sm mb-0">29.9%</h6>
                                </div>
                            </td>
                        </tr>                     
                    </tbody>*@
                </table>
            </div>
        </div>
    </body>

</html>
@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $(".table").DataTable({
                "ajax": {
                    "url": "/HospitalManagement/GetSummaryDetails?Flag=0",
                    "type": "GET",                   
                    "dataSrc": function (data) {
                        debugger;
                        return (data);
                    }
                },
                "columns": [
                   
                    { "data": "id", "name": "ID", "title":"ID" },
                    { "data": "name", "name": "DoctorName", "title": "DoctorsName"  },
                    { "data": "hospitalName", "name": "Hospital", "title": "Hospital"  },
                    { "data": "locationName", "name": "City", "title": "City"  }]
            })
        });

    </script>

}


