/* Theme */
button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 250px;
  background-color: #7ac0da;
  border: 1px solid #000;
  text-align: center; }

div {
  background-color: #7ac0da;
  color: #000;
  border: 1px solid #000;
  padding: 20px; }
  div button {
    background-color: #777; }
